# Unity-specific
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
Assets/AssetStoreTools*
.vscode/
.idea/
*.csproj
*.sln
*.user
*.unityproj
*.pidb
*.suo
*.userprefs
*.tmp
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Crash logs, test scenes
sysinfo.txt
mono_crash.*
InitTestScene*.unity*
/Assets/InitTestScene*.unity*

# Blender
*.blend1
*.blend1.meta

# Memory Captures & Recordings
/[Mm]emoryCaptures/
/[Rr]ecordings/

# JetBrains Rider
/Assets/Plugins/Editor/JetBrains*
*.DotSettings.user

# Gradle
.gradle/

# Builds
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app

# Crashlytics
crashlytics-build.properties

# Addressables
/ServerData
/Assets/StreamingAssets/aa*
/Assets/AddressableAssetsData/link.xml*
/Assets/Addressables_Temp*
/Assets/AddressableAssetsData/*/*.bin*

# Visual Scripting
/Assets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db
/Assets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db.meta
/Assets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers
/Assets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers.meta

# OS generated
.DS_Store
Thumbs.db
